[Desktop Entry]
Name= {{ item.name }}
Comment= {{ item.name }} Desktop application for Linux
Exec="~/.nativefier/{{ item.name }}/{{ item.name }}-linux-x64/{{item.name}}"
Terminal=false
Categories=Application;
Type=Application
Icon="~/.nativefier/{{ item.name }}/{{ item.name }}-linux-x64/resources/app/icon.png"